.seen {
    font-size: 14px;
    line-height: 26px;
}

.bail-indicator .fa {
    margin: 0 5px;
}

.focused {
    width: 180px;
    background-color: #009cde;
    padding: 5px 0 9px 0;
    margin: 20px 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.focused-around {
    width: 180px;
    background-color: #C8DBF1;
    padding: 5px 0 9px 0;
    margin: 20px 0;
}

.focused h3,
.focused h4 {
    color: #fff;
}

tr.detail {
    border-top: 1px solid #C8DBF1;
}

.details tr:last-of-type.detail {
    border-bottom: 1px solid #C8DBF1;
}

.header {
    /*font-size: 36px;*/
    padding-left: 5px;
}

.bail {
    padding-left: 10px;
    color: #000;
    font-size: 34px;
    margin-top: 10px;
}

.details .position {
    border: 2px solid #001E62;
}

.positionLeft {
    border-top: 2px solid #001E62;
    border-left: 2px solid #001E62;
    border-bottom: 2px solid #001E62;
    border-right: none;
    font-size: 48px;
}

.positionRight {
    border-top: 2px solid #001E62;
    border-left: none;
    border-bottom: 2px solid #001E62;
    border-right: 2px solid #001E62;
    font-size: 48px;
}

.bail-indicator {
    display: inline-block;
}

.bail-number {
    background-color: #009cde;
    font-size: 30px;
    color: #fff;
    width: 50px;
    height: 79px;
    border-radius: 10px 0 0 10px;
    padding: 13px 0 9px 0;
}

.bail-animal {
    background-color: #009cde;
    font-size: 20px;
    color: #fff;
    width: 80px;
    height: 79px;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #fff;
    padding: 13px 0 9px 0;
    margin: 0;
}

path {
    fill-rule: evenodd;
    stroke: #333;
    stroke-width: 2px;
}

.sun path {
    fill: #6baed6;
}

.planet path {
    fill: #9ecae1;
}

.annulus path {
    fill: #c6dbef;
}

.annulus-i circle {
    fill: #fff;
    stroke: #333;
}

.annulus-o circle {
    fill: #c6dbef;
    stroke: #333;
}

.annulus-f path {
    fill: #001E62;
    stroke: #fff;
}

.annulus-f text {
    fill: #fff;
}

.annulus-a path {
    fill: #009cde;
    stroke: #fff;
}

.svg-container {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
    /* top | middle | bottom ... do what you want */
    overflow: hidden;
}

.svg-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 30em) {
    .svg-container {
        width: 80%;
        padding-bottom: 50%;
    }
}

@media all and (min-width: 768px) {}

@media all and (min-width: 1200px) {
    .focused-around {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

.ctb-footer {
    width: 100%;
    margin: -10;
    padding: -15;
    background: white;
    vertical-align: middle;
    -webkit-overflow-scrolling: touch;
}


/*
.ctb-footer thead tr th:not(:first-child) ,
.ctb-footer tbody tr td:not(:first-child)  {
    border:none;
}
*/
.ctb-footer thead tr th,
.ctb-footer tbody tr td {
    font-size: 20px;
    text-align: center;
    border:none;
}

.ctb-footer thead tr,
.ctb-footer tbody tr {
    border-top:1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.ctb-fix-column {
    position: fixed;
    vertical-align: middle;
    margin: 0;
    min-width: 120px;
    background: #fff;
   
}

.ctb-detail {
    padding: 0;
    border: none;
    margin: 5px 0 0 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 0;
    margin: 0 auto;
}

.div-cell {
    float: left;
  
    border-bottom: 1px solid #C8DBF1;
}

.col-bail {
    width: 30%;
}

.col-animal {
    width: 70%;
}

#ctb-summary-footer-table {
    width: 100%;
}

#card-view-container::-webkit-scrollbar {
    width: 20px;
    height: 60px;
}

#card-view-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

#card-view-container::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

#ctb-summary-footer-table {
    vertical-align: middle;
    border: none;
}

#ctb-summary-hidhead {
    min-width: 120px;
}

#ctb-summary-fixvalue {
    padding-top:8px;
}